/*
 *= require bootstrap
 *= require flat-ui/css/flat-ui
 *= require font-awesome
 *= require_self
*/


// global style
body {
  background: #f0f0f0 image-url("bg.gif") repeat -70% 0;
}
i.icon-weibo { color: #C0392B; }

@each $margin in 5, 10, 15, 20, 25, 30 {
  .ml-#{$margin} { margin-left: #{$margin}px; }
  .mr-#{$margin} { margin-right: #{$margin}px; }
  .mt-#{$margin} { margin-top: #{$margin}px; }
  .mb-#{$margin} { margin-bottom: #{$margin}px; }
}

// i.icon-flag, i.icon-flag-alt { color: #C0392B; }

.navbar {
  a { text-decoration: none; }
	li.sign_out > a, li.sign_out > a:hover { color: #C0392B; }
  margin-bottom: 20px;
}

.index-home {
  width: 960px;
  a { text-decoration: none; }
  .wishes {}
  .wishes .wish-item {
    background: #FFF;
    width: 300px;
  }

  .wishes .wish-item .wish-list {
    padding: 10px 10px;
    a { font-size: 14px; }
    ul li a {
      padding: 5px 5px;
    }
  }

  .wishes .wish-item .user {
    padding: 10px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #EEE;
    .summary { width: 84%; }
  }
}
