.notifications {
  min-height: 400px;
  .toolbar a { 
    font-size: 16px; padding: 5px 5px; 
    text-decoration: none;
  }

  .notify-items .item {
    padding: 15px 5px;
    // margin-bottom: 20px;
    border-bottom: 1px solid #DDD;
    &.odd { background: #FFF; }
    .status i.icon-circle {
      color: #B94A48;
    }

    .status.readed i.icon-circle {
      color: #DDD;
    }
  }

  .notify-items .item .delete a {
    text-decoration: none;
  }
}